
{% extends "::layout.html.twig" %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/LoadingSplit.css') }}" />
    <h3>Repartition des chargements par CP de la commande  {{ po }} </h3>
	<table class="LoadingSplit">
	                   					                        
						<thead>
							<tr>
								<th>Entrepot</th>
								<th>Mad Hub</th>
								<th>Quantitées commandées</th>
								{% for loadingsplitsku in listCp %}
                                <th>{{loadingsplitsku}}</th>
								{% endfor %}
								<th> Reste à affecter </th>
							</tr>
						</thead>
						 
						<tbody>
                        {% set reste = 0 %}
						{% set newEntrepotArray = [] %}
						{% for loadingentrepot in listEntrepot | sortByField('loadingentrepot.entrepot')%}
						
						{% if loadingentrepot.entrepot not in newEntrepotArray %}
                        
                        {% set newEntrepotArray = newEntrepotArray|merge([loadingentrepot.entrepot]) %}
						<tr>
                          <td>{{loadingentrepot.entrepot}}</td>
						  <td>
						  	{{ 
								 render( 
								        controller(  'LoadingSplitBundle:Table:getDateMadRt', 
								                      {'po' : po,
													   'entrepot' : loadingentrepot.entrepot } 
												  )
										) 
							}} 
						     
							 {{ include('LoadingSplitBundle:Table:dateMadRt.html.twig') }}
						  
						  </td>
						  <td>

						    {{ 
								 render( 
								        controller(  'LoadingSplitBundle:Table:getQuantitiesOrdered', 
								                      {'po' : po,
													   'entrepot' : loadingentrepot.entrepot, 
													   'mad' : loadingentrepot.estimeddatearrived } 
												  )
										) 
							}} 
						   
						    {% include 'LoadingSplitBundle:Table:quantitesOrdered.html.twig' with {reste: reste}  %}
						   							  
						  </td>
						  {% for cpId in listCpId %}
                                <td>		

								 {{ 
								 render( 
								        controller(  'LoadingSplitBundle:Table:getQuantitiesByLoad', 
								                      {'entrepot' : loadingentrepot.entrepot, 
													   'idloadingposku' : cpId } 
												  )
										) 
								 }} 
							 
								 {{ include('LoadingSplitBundle:Table:quantitesLoaded.html.twig') }}
								                     								

                                </td>
						  {% endfor %}
						  <td> {{reste}} </td>
						</tr>
						{% endif %}
					    {% endfor %}

						</tbody>
	</table> 

{% endblock %}



