
{% extends "::layout.html.twig" %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/LoadingSplit.css') }}" />
    <h3>Repartition des chargements par CP de la commande {# {{ po }} #}</h3>
	<table class="LoadingSplit">
	                   					                        
						<thead>
							<tr>
								<th>Entrepot</th>
								<th>IdLoading</th>
								<th>Mad Hub</th>
								{% for loadingsplitsku in listCp %}
                                <th>{{loadingsplitsku}}</th>
								{% endfor %}
							</tr>
						</thead>
						 
						<tbody>

						{% for loadingentrepot in listEntrepot %}
						<tr>
                          <td>{{loadingentrepot.entrepot}}</td>
						  <td>{{loadingentrepot.idloadingposku}}</td>
						  <td>{{loadingentrepot.estimeddatearrived}}</td>
						  {% for loadingsplitsku in listCp %}
                                <td>
								 
								 {{ 
								 render( 
								        controller(  'LoadingSplitBundle:Table:get', 
								                      {'entrepot' : loadingentrepot.entrepot, 
													   'idloadingposku' : loadingentrepot.idloadingposku } 
												  )
										) 
								 }} 
								 {{ include('LoadingSplitBundle:Table:quantites.html.twig') }}
                                </td>
						  {% endfor %}
						</tr>
					    {% endfor %}

						</tbody>
	</table> 

{% endblock %}



